body {
  .loading{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
  }
  #add-phone-card{
    display: none;
    .card-body{
      h5{
        display: inline;
      }
      .add-icon{
        .bi-plus-circle-fill{
          fill: #5c9aff;
          &:hover{
            fill: white;
          }
          cursor: pointer;
        }
      }
      form{
        .btn{
          margin-top: 15px;
          background-color: #086297;
        }
        .inputs_group{
          .input {
            margin: 10px;
            border: 2px solid #5c9aff;
            border-radius: 10px;
            .bi-x-circle-fill{
              cursor: pointer;
              margin-top: 29px;
              fill: #5c9aff;
              &:hover{
                fill: white;

              }
            }
          }
        }
      }
    }
  }
  #init-db-card {
    display: none;
    .card {
      .message{
        display: none;
      }
      .card-body{
        background-color: #440000;
        form{
          .btn{
            margin-top: 15px;
          }
        }
      }
    }
  }
  #search-phone-card{
    display: block;
    .card {
      .card-body{
        background-color: #008a0b;
        form{
          .btn{
            margin-top: 15px;
          }
        }
        table{
          background-color: white;
          margin-top: 10px;
        }
        table{
          display: none;
        }
      }
    }
  }
}
